## <summary>autoresponder policy</summary>
## <desc>
##	<p>
##		More descriptive text about myapp.  The <desc>
##		tag can also use <p>, <ul>, and <ol>
##		html tags for formatting.
##	</p>
##	<p>
##		This policy supports the following myapp features:
##		<ul>
##		<li>Feature A</li>
##		<li>Feature B</li>
##		<li>Feature C</li>
##		</ul>
##	</p>
## </desc>
#

########################################
## <summary>
##	Execute a domain transition to run myapp.
## </summary>
## <param name="domain">
##	Domain allowed to transition.
## </param>
#
interface(`autoresponder_domtrans',`
	gen_require(`
		type autoresponder_t, autoresponder_exec_t;
	')

	domain_auto_trans($1,autoresponder_exec_t,autoresponder_t)

	allow $1 autoresponder_t:fd use;
	allow autoresponder_t $1:fd use;
')
